html {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
#quote-box {
  width: 60vw;
  margin: 10vh auto 0;
  padding: 30px 30px 100px;
  border-radius: 10px;
  background-color: #3ebb68;
  position: relative;
  overflow: hidden;
  transition: all 1s;
}
.insert-quote {
  font-size: 3em;
  font-weight: 500;
  padding: 0 30px;
  margin: 10px 0;
}
.controls {
  position: absolute;
  width: 100%;
  padding: 20px;
  bottom: 0;
  left: 0;
  background-color: rgba(56, 56, 56, 0.2);
}
/* button {
  background-color: rgba(56, 56, 56, 0.3);
  padding: 10px;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
  overflow: hidden;
  width: 15%;
  color: white;
  font-size: 1.4em;
  position: absolute;
  bottom: 20%;
  left: 42.5%;
} */
#btn {
  background: #222;
  height: 50px;
  min-width: 150px;
  border: none;
  border-radius: 10px;
  color: #eee;
  font-size: 40px;
  font-family: "Cookie", cursive;
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}
#btn #circle {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 1039px) { 
  #quote-box {
    width: 80vw;
  }
}

@media (max-width: 778px) {
  #quote-box {
    padding: 5px 8px 80px;
  }
  .insert-quote {
    font-size: 2em;
    padding: 0 10px;
  }
  .insert-author {
    font-size: 1em;
  }
  .controls {
    padding-top: 0;
  }
}
@media (max-width: 620px) {
  .insert-quote {
    font-size: 1.5em;
  }
  .insert-author {
    width: 75%;
  }
}
